################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/778FC1913EA434489964D6173F197019
/.vs/DeployFunc/CopilotIndices/18.4.114.215
/.vs/CopilotSnapshots
/.vs/DeployFunc/CopilotIndices/18.5.39194.52559
/.vs/DeployFunc.slnx
/DeployFront/obj
/DeployFront/bin/Debug/net8.0
/.vs/ProjectEvaluation/deployfunc.metadata.v10.bin
/.vs/ProjectEvaluation/deployfunc.projects.v10.bin
/.vs/ProjectEvaluation/deployfunc.strings.v10.bin
/DeployFront/bin/Release/net8.0
