################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/778FC1913EA434489964D6173F197019
/.vs/DeployFunc/CopilotIndices/18.4.114.215
